<!DOCTYPE html>
<html lang="{{ settings.lang }}">
  <head>
    {% include "./partials/meta.html" %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% if not noindex %}{% include "./partials/schema.html" %}{% endif %}
    {% include "./partials/google.html" %}
  </head>
  <body>
    <a class="skip-link" href="#main">Zum Inhalt springen</a>
    {% include "./partials/navbar.html" %}
    <div class="content">
      {% include "./partials/banner.html" %}
      {% include "./partials/banner-openingtimes.html" %}
      <main id="main">{{ content | safe }}</main>
      {% include "./partials/footer.html" %}
    </div>
    {% include "./partials/mountains.html" %}
    {#-
      The EmailJS SDK used to be loaded on every page from a third-party
      CDN even though the contact form only exists on pages that opt in.
      Pages that render the form set `hasContactForm: true`.
    -#}
    {% if hasContactForm %}{% include "./partials/contact-form-js.html" %}{% endif %}
    {% include "./partials/openingtimes-temporary-js.html" %}
  </body>
</html>
