@config "../../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800;
  font-family: 'Source Sans Pro', sans-serif;
}

.language-switch {
  @apply flex justify-end;
}
.language-switch img {
  @apply ml-2 p-1 rounded border-2 border-white w-8 md:w-12;
}
.language-switch img.active {
  @apply border-blue-600;
}

h1 {
  @apply font-bold text-4xl mb-9 lg:text-4xl mt-8 mb-4 text-blue-800;
}

h2 {
  @apply font-bold text-2xl mt-6 mb-3 pb-3 text-blue-700 border-b-2 border-blue-100;
}

h3 {
  @apply font-bold text-xl mt-6 mb-2;
}

h4 {
  @apply font-bold text-lg mt-6 mb-1 italic;
}

.content-wrapper {
  @apply md:max-w-7xl mx-auto p-8 pt-36 md:pt-8;
}

p,
.content ul {
  @apply mb-4;
}

.content ul {
  @apply list-disc list-outside ml-8;
}

.content img {
  @apply object-cover object-center shadow-lg rounded-md mb-4;
}
.content img.shadow-no {
  @apply shadow-none !important;
}

td {
  @apply py-3 px-1 align-top;
}

.grid > div:nth-child(1) {
  @apply lg:pr-6;
}

.grid > div:nth-child(2) {
  @apply lg:pl-6;
}

.grid > div:last-child {
  @apply justify-end;
}

@layer base {
  p a {
    @apply underline;
  }
  p a,
  a:hover {
    @apply text-blue;
  }
}

body :not(pre) > code[class*='language-'],
body pre[class*='language-'] {
  @apply bg-gray-800;
}

/* Form */
.button,
form button {
  @apply tracking-wider uppercase p-6;
}
form button {
  @apply border-none py-4 cursor-pointer focus:outline-none disabled:opacity-50;
}
form button[type='submit'] {
  @apply bg-blue text-white;
}
form {
  @apply m-0 p-0;
}
form input,
form textarea {
  @apply text-black p-2 text-base leading-relaxed border focus:border-blue focus:outline-none;
}

form input.invalid,
form textarea.invalid {
  @apply border-red-500;
}
#contact-form-errors,
#contact-form-status.error {
  @apply text-red-500;
}

form > div {
  @apply flex flex-col my-2;
}

.light {
  color: #8d98a6;
}

.check:checked ~ #menu {
  display: flex;
}
.menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
.bar {
  width: 30px;
  height: 1px;
  background: #175e82;
  opacity: 1;
}
.check:checked ~ .menu-toggle .bar.top,
.check:checked ~ .menu-toggle .bar.bottom {
  position: absolute;
  margin-top: 15px;
}
.check:checked ~ .menu-toggle .bar.top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.check:checked ~ .menu-toggle .bar.middle {
  opacity: 0;
}
.check:checked ~ .menu-toggle .bar.bottom {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
