<section class="pb-12">
  <div class="max-w-4xl px-4 pt-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
    <div class="flex h-8 items-center justify-center">
      <img
        src="/static/img/SEAMARCO_logo_320px.png"
        alt="Logo of {{ settings.website_title }}"
        width="32"
        height="32"
        class="inline-block object-contain h-8 mr-2"
      />
      <p class="inline-block text-sm leading-none mb-0">
        Copyright © {% year %} {{ settings.website_title }}
      </p>
    </div>
  </div>
</section>
