<nav
  class="md:max-w-7xl mx-auto px-6 py-4 md:p-6 lg:py-6 xl:py-8 flex flex-nowrap flex-wrap justify-between"
>
  <div class="flex py-2" :class="{ 'block shadow-3xl': !isOpen, 'hidden': isOpen }">
    <div class="h-8 lg:h-16 mr-2 lg:mr-4">
      <img
        src="/static/img/SEAMARCO_logo_320px.png"
        alt="Logo of SEAMARCO"
        class="inline-block object-contain h-8 lg:h-16"
      />
    </div>
    <div>
      <div class="leading-none text-xl md:text-2xl font-bold text-blue-800">
        {{ settings.website_title }}
      </div>
      <div class="leading-none text-sm md:text-base font-bold text-blue-600">
        {{ settings.description[locale] }}
      </div>
    </div>
  </div>

  <input type="checkbox" class="check hidden" id="checked" />
  <label class="menu-toggle md:hidden lg:hidden order-3 justify-between pt-2" for="checked">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </label>

  <div id="menu" class="hidden md:flex items-center flex-grow md:flex md:w-auto">
    <ul class="justify-end flex-1 md:pt-0 md:flex">
      {% for key, menu_item in settings.menu %}
      <li class="text-center">
        <a
          class="text-ml font-bold inline-block py-2 px-4 rounded-lg {{ 'bg-blue-50' if page.url == menu_item.url[locale] }}"
          href="{{ menu_item.url[locale] }}"
        >
          {% if menu_item.button[locale] %}{{ menu_item.button[locale] }}{% else %}{{
          menu_item.title[locale] }}{% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
<div class="border-b-4 border-blue-600" style="margin-top: 0.2em"></div>
<div class="border-b-4 border-blue-600" style="margin-top: 0.2em"></div>
<div class="border-b-4 border-blue-600" style="margin-top: 0.2em"></div>
