---
layout: default
path: index
---

<!-- <section
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)),
      url(/static/img/photos/happy-dog-with-owner-in-field.jpg);
  "
>
  <h1 class="text-white h-72">
    Liebevolle Pflege,<br />Moderne Medizin,<br />Ihre Familientierärztin.
  </h1>
</section> -->

<section
  class="text-center text-white"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.55)),
      url(/static/img/photos/max2.jpeg);
  "
>
  <h2>Liebevolle Pflege, Moderne Medizin, Ihre Familientierärztin.</h2>
  <p>Wir freuen uns von Ihnen zu hören.</p>
  <div class="flex justify-center">
    <a href="{{ settings.petleo }}" class="button sage" target="_blank">Buch ein Termin online</a>
  </div>
  <div class="mt-4">
    Oder rufen Sie uns an:<br /><span class="font-bold">{{ settings.telephone }}</span>
    <p>Termin nur nach Vereinbarung.</p>
  </div>
</section>

<section class="bg-sage-200">
  <div class="lg:grid lg:gap-12 lg:grid-cols-2">
    <div>
      <h2>Persönliche Betreuung, Zeit und Aufmerksamkeit</h2>
      <p>
        Für Besitzer und Tier, welche über übliche Behandlungsmethoden hinaus persönliche Betreuung,
        Zeit und Aufmerksamkeit für herausfordernde Fälle suchen.
      </p>
      <h2>Fokus auf eine holistische Betreuung für Besitzer und Tier.</h2>
      <p>Von den ersten Impfungen bis hin zu einem kompletten Gesundheitskonzept.</p>
    </div>
    <div class="bg-image h-72" style="background-image: url(/static/img/photos/hug-dog.jpg)"></div>
  </div>
</section>

<section>
  <div class="lg:grid lg:gap-12 lg:grid-cols-2">
    <div>
      <p>
        Unsere Kleintierarztpraxis in Innsbruck bietet alles was unsere pelzigen und schuppigen
        Lebensgefährten begehren, um das gesunde und vitale Leben führen zu können, welches Herrchen
        und Frauchen das tägliche Lächeln ins Gesicht zaubert.
      </p>
      <p>
        Unser breites Leistungsangebot gepaart mit unserer langjährigen Erfahrung als kompetente
        Tierärztinnen bietet das perfekte Umfeld für Hund, Katze, Schlange und Co. Ein verzweigtes
        Expertennetzwerk unterstützt unsere tägliche Arbeit auch in besonderen Fällen.
      </p>
      <p>
        Für uns ist die Berufung „Tierarzt“ eine Lebensaufgabe mit dem täglichen Ziel Ihren Liebsten
        die bestmögliche Behandlung für ein langlebiges und schönes Vierbeiner Dasein zu
        gewährleisten.
      </p>
    </div>
    <div>
      <img src="/static/img/photos/Dr.J.Covi-Dijkhuizen.jpg" class="rounded-full max-h-64 mb-8" />
      <h2>
        “Wir haben ein neues Konzept der Tierversorgung entwickelt, durch internationale Erfahrung
        und in Kollaboration mit einem Netzwerk aus Spezialisten.”
      </h2>
      <p>Dr. Jennifer Covi-Dijkhuizen</p>
    </div>
  </div>
</section>

<section class="content-center items-center">
  {% include "./_includes/partials/kontakt.html" %}
</section>

<!-- <section>
  <div class="lg:grid lg:gap-24 lg:grid-cols-2">
    <div class="hidden lg:flex">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3230.95854441286!2d11.432215671153926!3d47.26544640389775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479d69b59b8b746d%3A0xdf394f0cf627b8c2!2sTier%20%26%20Arzt%20Tierarztpraxis!5e0!3m2!1sen!2sat!4v1631385429014!5m2!1sen!2sat"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div>
      <h2>Schick eine Nachricht</h2>
      {% include "./_includes/partials/contact-form.html" %}
    </div>
  </div>
</section> -->
